<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenMenuEditorWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenMenuEditorWPF.Properties.Settings>
            <setting name="ftpUser" serializeAs="String">
                <value>menueditor@fringshaus.com</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value>4ov0rxi2t5ut</value>
            </setting>
            <setting name="ftpServer" serializeAs="String">
                <value>ftp.fringshaus.com</value>
            </setting>
            <setting name="ftpDir" serializeAs="String">
                <value>.</value>
            </setting>
        </OpenMenuEditorWPF.Properties.Settings>
    </applicationSettings>
</configuration>